﻿@using İzin_Application.Entity.Model
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Departman</th>
                                    <th>Açıklama</th>
                                    <th>İşlemler</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dp in Model)
                                {
                                    <tr>
                                        <td>@dp.Departman_Adi</td>
                                        <td>@dp.Aciklama</td>
                                        <td>
                                            <a class="btn btn-warning" href="/Departman/Guncelle/@dp.ID">Güncelle</a>

                                            @Html.ActionLink("SİL", "Sil", new { Id = dp.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Veriyi Silmek istediğinize emin misiniz ? ')" })
                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        <a href="/Departman/Ekle/" class="btn btn-primary" style="margin: 5px;color:white"> Yeni Departman Ekle </a>

                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
