﻿@using İzin_Application.Entity.Model
@model List<Yetki>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>YetkiAdı</th>
                                    <th>Açıklama</th>
                                    <th>İşlem</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Yetki ytk in Model)
                                {
                                    <tr>
                                        <td>@ytk.YetkiAdi</td>
                                        <td>@ytk.YetkiAciklama</td>
                                        <td>
                                            <a class="btn btn-warning" href="/Yetki/Guncelle/@ytk.YetkiId">Güncelle</a>

                                            @Html.ActionLink("SİL", "Sil", new { id = ytk.YetkiId }, new { @class = "btn btn-danger", onclick = "return confirm('Veriyi Silmek istediğinize emin misiniz ? ')" })

                                        </td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        <a href="/Yetki/Ekle/" class="btn btn-success" style="margin: 5px;color:white"> Yeni Yetki Ekle </a>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
